*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
}

html, body {
    overflow-x: clip;
}

/* MARK: Colors 
/* ---------- COLORS ----------*/
:root {
    --color-background-one: #FFC919;
    --color-background-two: #FDFDFD;
    --color-background-three: #FFFFFF;
    --color-background-four: #E6E6E9;
    --color-text-one: #003082;
    --color-text-two: #6A6A7A;
    --color-text-three: #FFFFFF;
    --color-accent-one: #0063D3;
    --color-accent-two: #DB0028;
}



/* MARK: General
/* ---------- ALGEMEEN ----------*/
body {
    background-color: var(--color-background-one);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85em;
}

header svg {
    width: 7em;
    margin: 1em;
}

header {
    background-color: var(--color-background-three);

    & p {
        color: var(--color-accent-two);
        background-color: var(--color-background-four);
        padding: 1em;
    }

    & p strong {
        text-transform: uppercase;
    }
}

h1 {
    color: var(--color-text-one);
}




/* MARK: Intro text
/* ---------- SECTION: intro ----------*/
section:nth-of-type(1) {
    color: var(--color-text-one);
}





/* MARK: Form
/* ---------- FORM: algemeen ----------*/
form {
    margin: 2em;
    background-color: var(--color-background-two);
    color: var(--color-text-two);
    border-radius: 10px;

    & > fieldset {
        padding: 1em;
    }

    & > fieldset > legend {
        padding: 4em 0 0 0;
        font-size: 1.25em;
    }

    & button {
        background-color: var(--color-accent-one);
        color: var(--color-text-three);
        padding: 1em;
        border-radius: 5px;
        border: none;
        display: block;
        margin: 1em auto;
    }
}

fieldset {
    margin: 1em;
    border: none;
    padding: 0;
    margin: 0;

    & legend {
        color: var(--color-text-one);
    }
}

legend {
    padding: 1em 0 .5em 0;
}

input {
    border-radius: 5px;
    border: .5px solid var(--color-background-one);
    padding: .5em;

    /* !! ChatGPT gevraagd hoe ik de kleur van de radiobutton aan kon passen */
    &[type=radio] {
        accent-color: var(--color-accent-one);
    }
}

input[type="text"] {
    width: 100%;
}

.name {
    display: flex;
    flex-direction: column;

    & input {
        display: block;
        margin: .5em 0;
    }
}

.s1bcd-radio {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1em;
}


/* ---------- OPENKLAPPEN VAN VRAGEN ---------- */
/* /* MARK: Progressive disclosure 1b */
.extra-1b1, .extra-1b2 {
    display: none;
}

/* Vraag aan ChatGPT: hoe kan ik een element dat na de fieldset komt in de HTML aanspreken? */
/* >> met "~ .extra-1b1" pak je alle elementen die op hetzelfde niveau staan en na fieldset komen */
fieldset.deceased-partner:has(.checked-1b1:checked) ~ .extra-1b1 {
    display: block;
}

/* Voorwaarde: als zowel ja bij de eerste vraag, als bij de tweede vraag is geselecteerd. */
fieldset.deceased-partner:has(.checked-1b1:checked) ~ fieldset.extra-1b1:has(.checked-1b2:checked) ~ .extra-1b2 {
    display: block;
}