*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
}

html, body {
    overflow-x: clip;
}

/* MARK: Colors and fonts 
/* ---------- COLORS ----------*/
:root {
    --color-background-one: #FFC919;
    --color-background-two: #FDFDFD;
    --color-background-three: #FFFFFF;
    --color-background-four: #E6E6E9;
    --color-text-one: #003082;
    --color-text-two: #6A6A7A;
    --color-text-three: #FFFFFF;
    --color-accent-one: #0063D3;
    --color-accent-two: #DB0028;
    --color-opacity-one: #0063D326;
    --color-opacity-two: #DB002826;
}

/* ---------- FONTS ----------*/
@font-face {
    font-family: 'NS Sans Bold';
    src: url(../fonts/nssans-bold.woff2);
}

@font-face {
    font-family: 'NS Sans Bolditalic';
    src: url(../fonts/nssans-bolditalic.woff2);
}

@font-face {
    font-family: 'NS Sans Demi';
    src: url(../fonts/nssans-demi.woff2);
}

@font-face {
    font-family: 'NS Sans Italic';
    src: url(../fonts/nssans-italic.woff2);
}

@font-face {
    font-family: 'NS Sans Regular';
    src: url(../fonts/nssans-regular.woff2);
}





/* MARK: General
/* ---------- ALGEMEEN ----------*/
body {
    background-color: var(--color-background-four);
    font-family: 'NS Sans Regular', Arial, Helvetica, sans-serif;
    font-size: .85em;
}

header {
    background-color: var(--color-background-one);

    & p {
        color: var(--color-accent-two);
        background-color: var(--color-background-two);
        padding: 1em;
    }

    & p strong {
        text-transform: uppercase;
    }

    & svg {
        width: 7em;
        margin: 1em; 
    }
}

h1 {
    color: var(--color-text-one);
    font-size: 2.5em;
    font-family: 'NS Sans Bold', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'NS Sans Demi', Arial, Helvetica, sans-serif;
}



/* MARK: Intro text
/* ---------- SECTION: intro ----------*/
section:nth-of-type(1) {
    color: var(--color-text-one);
    margin: 2em;
}





/* MARK: Form
/* ---------- FORM: navigatie ----------*/
form nav {
    position: sticky;
    top: 0;
    background-color: var(--color-background-three);

    width: 100%;
    margin: 1em auto;
    padding: 2em;

    & ul {
    display: flex;
    gap: 2em;
    padding: 0;


    & li {
        list-style-type: none;
        display: flex;

        & a:has(+p) {
            background-color: var(--color-accent-one);
            color: var(--color-text-three);
        }
    }

    & a {
        background-color: var(--color-text-two);
        color: var(--color-text-three);
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3em;
        height: 3em;
        aspect-ratio: 1;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background-color: var(--color-background-one);
        }
    }

    & p {
        width: min-content;
        margin: .5em;
    }
}
}


/* ---------- FORM: algemeen ----------*/
form {
    margin: 2em;
    background-color: var(--color-background-two);
    color: var(--color-text-two);
    border-radius: 10px;

    max-height: 70vh;
    overflow-y: auto;
    /* box-shadow: 0 2px 5px rgb(from var(--color-text-two) r g b / 0.5); */

    & > fieldset {
        padding: 1em 1em 3em 1em;
    }

    & > fieldset > legend {
        padding: 1em 0 0 0;
        font-size: 1.5em;
    }

    & button {
        background-color: var(--color-accent-one);
        color: var(--color-text-three);
        padding: 1em;
        border-radius: 5px;
        border: none;
        display: block;
        margin: 1em auto;

        &:hover {
            background-color: var(--color-background-one);
            color: var(--color-text-one); 
        }
    }
}

fieldset {
    margin: 1em;
    border: none;
    padding: 0;
    margin: 0;

    & legend {
        color: var(--color-text-one);
        padding: 1em 0 .5em 0;
    }
}

input {
    border-radius: 5px;

    /* FEEDBACK: kleur is misschien slecht te zien > kijk op NS. */
    border: .5px solid var(--color-background-one);
    padding: .5em;

    /* !! ChatGPT gevraagd hoe ik de kleur van de radiobutton aan kon passen */
    /* &[type=radio] {
        accent-color: var(--color-accent-one);
    } */

    &[type=date] {
        width: 100%;
        font-family: 'NS Sans Regular', Arial, Helvetica, sans-serif;
        color: var(--color-text-one);
    }

    &[type=text] {
        width: 100%;
    }
}

.name {
    display: flex;
    flex-direction: column;

    & input {
        display: block;
        margin: .5em 0;
    }
}

.s1bcd-radio {
    & input[type="radio"] {
        display: none;
    }

    & label {
    display: inline-block;
    padding: 1em 4em;
    margin: 1em .5em 1em 0;
    gap: 2em;

    border: .5px solid var(--color-text-two);
    border-radius: 8px;

    color: var(--color-text-one);

    &:hover {
        background-color: var(--color-opacity-one);
    }

    &:has(input:checked) {
        border: 2px solid var(--color-background-one);
    }

    &:has(input:not(:checked)) {
        color: var(--color-text-two);
    }
    }
} 






/* MARK: Openklappen vragen (progressive disclosure)
/* ---------- Progressive disclosure 1b ---------- */
.extra-1b1, .extra-1b2 {
    display: none;
}

/* Vraag aan ChatGPT: hoe kan ik een element dat na de fieldset komt in de HTML aanspreken? */
/* >> met "~ .extra-1b1" pak je alle elementen die op hetzelfde niveau staan en na fieldset komen */
fieldset.deceased-partner:has(.checked-1b1:checked) ~ .extra-1b1 {
    display: block;
}

/* Voorwaarde: als zowel ja bij de eerste vraag, als bij de tweede vraag is geselecteerd. */
fieldset.deceased-partner:has(.checked-1b1:checked) ~ fieldset.extra-1b1:has(.checked-1b2:checked) ~ .extra-1b2 {
    display: block;
}

/* ---------- Progressive disclosure 1c ---------- */
.extra-1c1, .extra-1c2 {
    display: none;
}

fieldset.deceased-family:has(.checked-1c1:checked) ~ .extra-1c1 {
    display: block;
}

fieldset.deceased-family:has(.checked-1c1:checked) ~ fieldset.extra-1c1:has(.checked-1c2:checked) ~ .extra-1c2 {
    display: block;
}

/* ---------- Progressive disclosure 1d ---------- */
.extra-1d1 {
    display: none;
}

fieldset.deceased-notary:has(.checked-1d1:checked) ~ .extra-1d1 {
    display: block;
}




/* MARK: Validity
/* ---------- Name ---------- */
/* Direct op input geplaatst: pattern klopt niet? dan GELIJK melding */
 input:user-invalid {
    background-color: var(--color-opacity-two);
 }

input[aria-invalid="true"] {
    border: 1px solid var(--color-accent-two);
    border-left-width: 6px;
}

/* VRAAG: beter groene kleur geven of terug naar origineel laten gaan? */
input[aria-invalid="false"] {
    border: .5px solid var(--color-background-one);
}


/* MARK: Error message
/* ---------- Foutmelding ---------- */
.error-msg {
    color: var(--color-accent-two);
    margin: .5em 0;
}